<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>説明</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% photos.each do |photo| %>
      <tr>
        <td><%= link_to user_path(photo.user) do %>
          <%= attachment_image_tag(photo.user, :profile_image, :fill, 50, 50, fallback: "20200501_noimage.jpg", size: '50x50', class: "rounded") %>
          <% end %>
        </td>
        <td><%= link_to photo.name, photo_path(photo), class: "photo_#{photo.id}" %></td>
        <td><%= photo.caption %></td>
      </tr>
    <% end %>
  </tbody>
</table>