<div class="container-fulid">
<div class="row">
<% @photos.each do |photo| %>
<div class="col-md-2 mt-3 mx-5">



<div>
  <%= link_to photo_path(photo) do %>
  <%= attachment_image_tag photo, :image, :fill, 100, 100, format: 'jpeg', fallback: '20200501_noimage.jpg', size: '350x350', class: "rounded"%>
  <% end %>
　<p>名前：<%= photo.name %></p>
  <p>説明：<%= render_with_hashtags(photo.caption) %></p>
</div>


</div>
<% end %>
</div>
</div>


